body /* Tag selector */
{
    background-color: #A5DEE5;
}
.table-menu{ /* class selector */
    width:100%; /* ความกว้าง */
    text-align: center; /* ตำแหน่ง */
    background-color: #FEFDCA;
}
h1{
    text-align: center; 
    font-family: cursive;
    background-color: #E0F9B5;
} 
h4{
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
h5{ 
    text-align: center; 
    font-family: Aclonica;
    font-weight: normal;
}
.table-content{ 
    margin-left: auto; /* กำหนดช่องไฟ */
    margin-right: auto;
    background-color: #FEFDCA;
}
.ul-circle{ /* ลักษณะหัวข้อย่อย */
    list-style-type:circle;
    background-color: #FFCFDF;
} 
.ul-disc{
    list-style-type:disc;
    background-color: #FFCFDF;
}
.ul-square{
    list-style-type:square;
    background-color: #FFCFDF;
}
.ol-order{
    background-color: #FFCFDF;
}